{extend name="public:base" /}
{block name="main"}
<form action="{:url()}" method="post">
<table class="table table-bordered table-hover definewidth m10">
    <input type="hidden" name='id' value="{:input('param.id')}">
    <tr>
        <td width="10%" class="tableleft">栏目名称</td>
        <td><input type="text" name="catename" value="{$data.catename}" /></td>
    </tr>
    <tr>
        <td class="tableleft">所属栏目</td>
        <td>
            <select name="pid" id="">
            <option value="0">顶级栏目</option>

            </select>
        </td>
    </tr>   
    <tr>
        <td class="tableleft">排序</td>
        <td>
           <input type="text" name="sort"  value="{$data.sort}"/>
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
{/block}
{block name="js"}
<script>
    $(function () {       
        $('#backid').click(function(){
                window.location.href="index.html";
         });

    });
</script>
{/block}
