{extend name="public:base"}
{block name="main"}
<form action="index.html" method="post" class="definewidth m20">
<table class="table table-bordered table-hover definewidth m10">
    <input type="hidden" name="id" value="{:session('userid')}">
    <tr>
        <td width="10%" class="tableleft">登录名</td>
        <td> {:session('username')}</td>
    </tr>
    <tr>
        <td class="tableleft">密码</td>
        <td><input type="password" name="password"/></td>
    </tr>
   <tr>
        <td class="tableleft">确认密码</td>
        <td><input type="password" name="repassword"/></td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>

{/block}
{block name="js"}
<script>
    $(function () {       
        $('#backid').click(function(){
                window.location.href="index.html";
         });

    });
</script>
{/block}