<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="__HOME__/css/common_1.css">
	<link rel="stylesheet" type="text/css" href="__HOME__/css/artlist.css">
	<link rel="stylesheet" type="text/css" href="__HOME__/css/base.css">
	<style type="text/css"> 
	.container{padding:0 0.8rem 0 0.8rem}
	input.text{text-align:center;padding:10px 20px;width:300px;} 
	.searchboxExample{background:url('/static/home/images/searchcn.png') no-repeat;margin:1rem 0;
	min-height:1.18rem;padding: 3rem 0 0;text-align: center; background-size: cover;}
	.cate_name{color:#737373;font-weight:700;background:#CECECE;width:100%;height:2.6rem;line-height:2.6rem;margin-bottom: 1rem;}
	.author{color:#B3B3B3;font-size:12px;margin-top:-1rem}
	</style> 
</head>
<body>
<div class="container">
	<div class="searchboxExample" id="searchboxExample">
	</div>
	<div class="banner">
		<span>{$cate}</span>
	</div>
	<ul class="list">
		{volist name="cateTop" id="v" key='k'}
			<li style="width:100%;">
			<div class="cate_name">{$v['catename']}</div>
			{volist name="v.art" id="art"}
			<a href="{:url('Article/item',['id'=>$art['id']])}"><font style="color:#4485BD">{$art.bigtitle}</font></a><br>
			<a href="{:url('Article/item',['id'=>$art['id']])}"><div class="author">{$art.author}</div></a><br>
			{/volist}
			</li>
		{/volist}

	</ul>
	
</div>
</body>
</html>
<script src="__HOME__/js/jquery.js"></script>

<script>

 $(function () {
		$('#searchboxExample').click(function(){
			window.location.href="{:url('Article/search')}";
		});

    });
</script>