<!DOCTYPE html>
<html lang="en">
<head>
	<title>《全球能源互联网》往期查询系统</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="/static/home/css/common_1.css">
	<link rel="stylesheet" type="text/css" href="/static/home/css/artlist.css">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body{background:#EEEEEE}
		.table>tbody>tr>td{
			border: 0px solid transparent !important;
			vertical-align: 0;
		}
		.table>tbody>tr>td.year{
			text-align:right
		}
		.table>tbody>tr>td.syear{
			padding-right:3rem
		}
		caption{color:#4485BD;padding-top:4rem}
		table tr.hrxian{background:url('/static/home/images/righthr.png') no-repeat}
		.btn{padding: 6px 40px;margin: 0 4rem;}
		.list li{padding:0.8rem 1.5rem}
	</style>
	
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-4">
			<form class="form-horizontal" role="form">
			
			
			<table border="0" class="table table-condensed" >
			<input type="hidden" name="state" value="1">
				<caption><b>《全球能源互联网》</b>往期查询系统 ▶▶▶</caption>
				<tr class="hrxian">
					<td colspan="2">&nbsp;</td>
					
				</tr>
				
				<tr class="">
					<td colspan="2">&nbsp;</td>
					
				</tr>
					<tr>
						<td class="year">年&nbsp;&nbsp;卷：</td>
						<td  class="syear">
						<select name="year" id="yearkan" class="form-control" >
						<option>请选择年卷</option>
						{volist name="cateTop" id="ct"}
							<option value="{$ct['id']}" {if condition="input('get.year') eq $ct['id']"} selected="selected" {/if}>{$ct['catename']}</option>
						{/volist}
						</select>
						</td>
					</tr>
					<tr>
						<td class="year">期&nbsp;&nbsp;号：</td>
						<td class="syear">
							<select name="month" id="monthkan" class="form-control" >
							{volist name="cateson" id="cs"}
								<option value="{$cs['id']}" {if condition="input('get.month') eq $cs['id']"} selected="selected" {/if}>{$cs['catename']}</option>
							{/volist}
							</select>
						</td>
						
					</tr>
					<tr>
						<td class="year">关键词：</td>
						
						<td class="syear">
							<input type="text" name="keyword" placeholder="支持期刊标题模糊搜索" value="{:input('get.keyword')}" class="form-control" />
						</td>
					</tr>
					<tr class="">
						<td colspan="2">&nbsp;</td>
					
					</tr>
					<tr class="">
						<td colspan="2">&nbsp;</td>
					
					</tr>
					<tr>
						<td></td>
						
						<td >
							<button type="submit" class="btn btn-primary" id="btnsubmit" >查询</button>
						</td>
					</tr>
				
			</table>
	</form>
	</div>
	</div>
	<div class="row">
		<ul class="list" id="articlelist">
		{empty name="data"}
		<li style="width:100%;color:red">
		没有您搜到的内容！
		</li>
		{else/}
		
		{volist name="data" id="v"}
		
		<li style="width:100%;">
		<a href="{:url('Article/item',['id'=>$v['id']])}">{$v.bigtitle}</a>
		<p>{$v.author}<p>
		</li>
		{/volist}
		{/empty}
		</ul>
		{$page}
	</div>
	</div>

</body>
</html>
<script src="__HOME__/js/jquery.js"></script>
<script type="text/javascript">
	var state = '{$state}';
	$(function(){
		if(state==""){
			$('#articlelist').hide();
		}else{
			$('#articlelist').show();
			
		}
		var  province= '{$cate}';
		var  catesons= '{$catesons}';
		console.log(province);
		console.log(catesons);
		var oCatesons = document.getElementById('monthkan');
		/*-- $('#yearkan').change(function(){
		//alert(catesons)
			var oVal = this.value;
			var index = province.indexOf(oVal);
			//alert(oVal)
			var newArr = catesons[index];
			//alert(newArr);
			//清空子栏目里边的值
			while(oCatesons.firstChild){
				oCatesons.removeChild(oCatesons.firstChild);
			}
			//根据年份的不同渲染不同的期数数组
			for(var i = 0;i<newArr.length;i++){
				var opt = document.createElement('option');
				opt.setAttribute('value',newArr[i]);
				opt.innerText = newArr[i];
				oCatesons.appendChild(opt);
			}
				

		 })*/
		
		$("#yearkan").change(function () {
			var yearkan = this.value;
			console.log(yearkan);
			$.ajax({
				url:"{:url('Article/searchlist')}",
				dataType: "JSON",
				data: {'pid': yearkan},
				type: "GET",
				success:function (data) {
					var gradeNum= data.length;
					$("#monthkan option").remove();
					var option = "<option value=''>请选择期号</option>";
					if(gradeNum>0){
						$("#monthkan").html(option);
						for(var i = 0;i<gradeNum;i++){
							option += "<option value='"+data[i].id+"'  >"+data[i].catename+"</option>";
						}
					}
					$("#monthkan").html(option);
				}
				
			})
			
		})
		
	})
</script>
