/*reset*/
html{
	font-size: 62.5%;
	tap-highlight-color:rgba(255,255,255,0);
	-webkit-tap-highlight-color:rgba(255,255,255,0);/*ipone 设备带点击的元素背景为透明*/
}
html,body {
	height: 100%;
}
body, div, header, footer, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td, em, i{
    padding: 0;
    margin: 0;
	border: none;
	font-style: normal;
	font-family: '微软雅黑',arial;
	font-weight: normal;
	color: #333;
	font-size: 14px;
	box-sizing: border-box;
}

ul,ul li {
	list-style: none;
}
input, button, select, textarea {
    outline: medium none;
}
textarea {
    resize: none;
}
input[type='text'], textarea {
    -webkit-appearance:none;
	border: 1px solid #DBDBDB;
	outline: medium;
}
input[type='button'] {
    -webkit-appearance:none;
}
input[type='search'] {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-appearance:none;
}
*, *::after, *::before {
    box-sizing: border-box;
}
a {
	color: #2b2b2b;
    text-decoration: none;
    -webkit-touch-callout:none;
}

a:visited, a:hover {
    text-decoration: none;
}
.clear:before, .clear:after {
    content: ".";
    display: block;
    height: 0 !important;
    line-height: 0 !important;
    visibility: hidden;
}
.clear:after {
    clear: both;
}
.clear {
	zoom: 1; 
}