{extend name="public:base" /}
{block name="main"}
<!--处理select下拉，搜索功能-->
<link rel="stylesheet" href="__ADMIN__/css/style.css">
<link rel="stylesheet" type="text/css" href="__ADMIN__/frame/select2/select2.css" />
<script type="text/javascript" src="__ADMIN__/frame/select2/select2.js"></script>
<script type="text/javascript" src="__ADMIN__/frame/select2/select2_locale_zh-CN.js"></script>
<script type="text/javascript" src="__ADMIN__/frame/plupload/plupload.full.min.js"></script>

<!--处理select下拉，搜索功能 结束-->
<form action="{:url()}" method="post"  id="myfile" enctype="multipart/form-data">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">文件名称</td>
        <td><input type="text" name="filename" class="control-text span-width span3" datatype="*" nullmsg="请输入文件名称" errormsg="文件名称输入有误"/></td>
    </tr>

        <td width="10%" class="tableleft">文件上传</td>
        <td>
		<div class="demo">
			<a class="pluploadbtn" id="btn">上传文件</a> 最大200M，支持音频，视频，文档，图片，压缩包，其他。	
			<ul id="ul_pics" class="ul_pics clearfix"></ul>
			<input type='hidden' name="filepath" id="multimage" datatype="*" nullmsg="请上传文件" errormsg="文件上传有误" />
			<div class="clear"></div>
		</div>	
		</td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">提交上传</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" name="backid" id="backid">返回文件列表</button>
        </td>
    </tr>
</table>
{/block}
{block name="js"}
<script type="text/javascript" src="__ADMIN__/js/Validform.js"></script>
<script>
    $(function () {       
        $('#backid').click(function(){
                window.location.href="index.html";
         });
       //处理表单提交规则
        var demo = $("#myfile").Validform({
            tiptype:4,
            showAllError:true,      
            usePlugin:{
                datetimepicker:{}
            },
        });
    });
  
  

</script>
<script type="text/javascript">
      var uploader = new plupload.Uploader({
          runtimes: 'html5,flash,silverlight,html4', 
          browse_button: 'btn', 
          url: "{:url('Files/upload')}", 
          flash_swf_url: '__ADMIN__/frame/plupload/Moxie.swf', 
          silverlight_xap_url: '__ADMIN__/frame/plupload/Moxie.xap',
          filters: {
              max_file_size: '200M', 
              
          },
          multi_selection: false, 
          init: {
              FilesAdded: function(up, files) { 
                  if ($("#ul_pics").children("li").length > 0) {
                      alert("您上传的文件太多了！");
                      uploader.destroy();
                  } else {
                      var li = '';
                      plupload.each(files, function(file) { 
					  console.log(file);
					  alert(file['type']);
                          li += "<li class='li_image' id='" + file['id'] + "'><div class='progress'><span class='bar'></span><span class='percent'>0%</span></div></li>";
                      });
                      $("#ul_pics").append(li);
                      uploader.start();
                  }
              },
              UploadProgress: function(up, file) { 
                  var percent = file.percent;
                  $("#" + file.id).find('.bar').css({"width": percent + "%"});
                  $("#" + file.id).find(".percent").text(percent + "%");
              },
              FileUploaded: function(up, file, info) { 
                 var data = eval("(" + info.response + ")");
				 //console.log(data);
                  if (data.fileext=='jpeg' || data.fileext=='jpg' || data.fileext=='png' ||  data.fileext=='gif') {
                     $("#" + file.id).html("<div class='img'><img  src='" + data.path + "'/><span class='span_del'></span></div><input type='hidden' name='filesize' value='"+ data.filesize+"' /><input type='hidden' name='fileext' value='"+ data.fileext+"'/>");
                   }else{
                     $("#" + file.id).html("<div class=''><a href='" + data.path + "'>"+data.name+"</a><span class='span_del'></span></div><input type='hidden' name='filesize' value='"+ data.filesize+"' /><input type='hidden' name='fileext' value='"+ data.fileext+"'/>");
                   }
                 
                  var old=$("#multimage").val();
				$("#multimage").val(old + data.path);
              },
              Error: function(up, err) { 
                  alert(err.message);
              }
          }
      });
      uploader.init();
</script>
<script type="text/javascript">
$(function(){
	$(".demo").on("mouseover",'.li_image',function(){
		$(this).find(".span_del").show();
	})
	$(".demo").on("mouseout",'.li_image',function(){
		$(this).find(".span_del").hide();
	})
	$("#ul_pics").on("click",'.span_del',function(){
		var src=$(this).siblings('img').attr('src');
		var multimage=$("#multimage").val();
		var new_multimage=multimage.replace(src+'', '');
		$("#multimage").val(new_multimage);
		$(this).parents('li.li_image').remove();
	})
})
</script>

{/block}
