{extend name="public:base" /}
{block name="main"}
<!--处理select下拉，搜索功能-->
<link rel="stylesheet" href="__ADMIN__/css/style.css">
<link rel="stylesheet" type="text/css" href="__ADMIN__/frame/select2/select2.css" />
<script type="text/javascript" src="__ADMIN__/frame/select2/select2.js"></script>
<script type="text/javascript" src="__ADMIN__/frame/select2/select2_locale_zh-CN.js"></script>
<!--处理select下拉，搜索功能 结束-->
<script type="text/javascript" src="__ADMIN__/frame/plupload/plupload.full.min.js"></script>

<table class="table table-bordered table-hover definewidth m10">
    
    <tr>
        <td width="10%" class="tableleft">二维码图片</td>
        <td><img src="/uploads/QRcode/user/{$id}.png" width="200" alt=""></td>
    </tr>
	
	
</table>
{/block}
{block name="js"}


{/block}
