<!DOCTYPE html>
<html lang="en">
<head>
	<title>
			{$data.bigtitle}
	</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="__HOME__/css/common.css">
	<link rel="stylesheet" type="text/css" href="__HOME__/css/baseen.css">
	<link rel="stylesheet" type="text/css" href="__HOME__/css/colorbox.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="index">
<div class="header">
	<div class="navbar-header"></div>	
	<div class="navbar-collapse">
		<a href="{$host}/enhome" class="active">Home</a>
		<a href="{:url('enarticle/search')}" class="">Historical search</a>
	</div>
</div>	
<div class="banner_art">
	<div class="banner_left">
		
		<img src="{$imageFile}" />
		
		
	</div>
	<div class="banner_right">
		<p>
		Global Energy Interconnection<br/>
		<span>{$pid}<br/> {$number}</span>
			
		</p>
	</div>
</div>
<div class="main">
	<div class="wrap">
		<div class="subject">
			<h2 style="text-align:center">
				<p>{$data.bigtitle}</p>
				<p>{$data.title}</p>
			</h2>
			<div class="author">
			<p style="text-align:center">
				{$data.author}					
        	</p>
		 <p style="text-align:center">{$data.position}</p>
		 		 
		
		<div class="author">
		
			<div class="author_body">
				{$data.otherinfo}

			</div>
			{if condition="($data['description'] eq '') OR ($data['keywords'] eq '')"}
			{else/}
			<h2 style="font-size: 1.4em;">Abstract</h2>
			<div class="details">
				<p style="text-indent: 3rem;">
				<abstract lang="CN">
	        	<p>
	        		{$data.description}
	        	</p>
		      </abstract>
		      </p>
			<p class="keyWord">
				<b>Keywords:</b>
				<em>{$data.keywords}</em>
				
			</p>
			
			</div>
			{/if}
		
			<div class="content">
				{$data.content}
			</div>
			
			</div>
			</div>
		</div>
	<div class="sidebar">
			<!-- 分享 -->
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到Facebook" href="#" class="bds_fbook" data-cmd="fbook"></a><a title="分享到Twitter" href="#" class="bds_twi" data-cmd="twi"></a><a title="分享到linkedin" href="#" class="bds_linkedin" data-cmd="linkedin"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a></div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			<!-- 分享 -->
			<div class="slide">
			    <div style="position: fixed; bottom: 0" id="sideToolbar">
			        <div style="visibility: visible;" class="sideCatalogBg" id="sideCatalog">
			            <div id="sideCatalog-sidebar">
			                <div class="sideCatalog-sidebar-top">
			                </div>
			                <div class="sideCatalog-sidebar-bottom">
			                </div>
			            </div>
			            <div style="visibility: visible;" id="sideCatalog-updown">
			                <div title="向上翻页" class="sideCatalog-up-disable" id="sideCatalog-up">
			                </div>
			                <div title="向下翻页" class="sideCatalog-down-enable" id="sideCatalog-down">
			                </div>
			            </div>
			            <div id="sideCatalog-catalog">
			            	<dl id="outline_dl"></dl>
			                
			            </div>
			        </div>
			    </div>
			</div>
		</div>
		<div class="m_sidebar">
			<div class="m_sidebar_mark"></div>
			<ul>
				<li class="m_catalog"><h3>目录</h3></li>
				<ol id="m_sidebar_con"></ol>
			</ul>
		</div>
	</div>
</div>
<!-- 移动端图片层 -->	
<div class="zoom_img_wrap">
	<div class="zoom_img_body">
		<div class="zoom_img">
			<img src="">
			<p>图1</p>
		</div>
		<div class="hide"></div>
	</div>
	
</div>


</body>
<!-- 回到顶部 -->
<a class="scrollup" href="#"></a>	
<!-- 移动端侧导航按钮 -->	
<a class="bars" href="javascript:void(0)"></a>
</body>
</html>
<script src="__HOME__/js/jquery.js"></script>
<script src="__HOME__/js/colorbox.js"></script>
<script type="text/javascript" src="__HOME__/js/line.js"></script>
<script type="text/javascript"  src="__HOME__/js/MathJax-master/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		extensions: ["tex2jax.js"],
		jax: ["input/TeX", "output/HTML-CSS"], 
		tex2jax: {inlineMath: [ ['$','$'], ["\\(","\\)"] ],displayMath: [ ['$$','$$'], ["\\[","\\]"] ],processEscapes: true},
		"HTML-CSS": { availableFonts: ["TeX"] }});
		//设置图片自适应
	$(window).load(function(){
		$(".content img").addClass("img-responsive center-block");
		$(".banner_art .banner_left").addClass("img-responsive center-block");
		$(".banner_art .banner_right").addClass("img-responsive center-block");
		
	})
</script>



