<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
	 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" type="text/css" href="/static/home/css/common_1.css">
	<link rel="stylesheet" type="text/css" href="/static/home/css/artlist.css">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body{background:#EEEEEE}
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
			border: 0px solid transparent !important;
			vertical-align: 0;
		}
		.table>tbody>tr>td.year{
			text-align:right
		}
		caption{color:#4485BD;padding-top:4rem}
		table tr.hrxian{background:url('/static/home/images/righthr.png') no-repeat}
		.btn{padding: 6px 40px;}
		.list li{padding:0.8rem 1.5rem}
	</style>
	
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-4">
				<form class="form-horizontal" role="form">
				<table class="table table-condensed">
				<input type="hidden" name="state" value="1">
					<caption><b>Global Energy Interconnection</b></caption>
						<tr class="hrxian">
					<td colspan="2">&nbsp;</td>
					
					</tr>
					
					<tr class="text-center">
						<td colspan="2"><font style="font-size:16px;font-weight:700">Search articles</font></td>
						
					</tr>
					<tr>
						<td class="year">Year/Volume:</td>
						<td class="syear">
						<select name="year" id="" class="form-control" >
						{volist name="cateTop" id="ct"}
							<option value="{$ct['id']}" {if condition="input('get.year') eq $ct['id']"} selected="selected" {/if}>{$ct['catename']}</option>
						{/volist}
						</select>
						</td>
					</tr>
					<tr>
						<td class="year">Issue:</td>
						<td class="syear">
							<select name="month" id="" class="form-control" >
							{volist name="cateson" id="cs"}
								<option value="{$cs['id']}" {if condition="input('get.month') eq $cs['id']"} selected="selected" {/if}>{$cs['catename']}</option>
							{/volist}
							</select>
						</td>
						
					</tr>
					<tr>
						<td class="year">Key Words:</td>
						
						<td>
							<input type="text" name="keyword" placeholder="Support Journal title Fuzzy Search" value="{:input('get.keyword')}" class="form-control" />
						</td>
					</tr>
					<tr class="">
						<td colspan="2">&nbsp;</td>
					
					</tr>
					<tr class="">
						<td colspan="2">&nbsp;</td>
					
					</tr>
					<tr>
						<td></td>
						
						<td>
							<button type="submit" class="btn btn-primary" id="btnsubmit" >Search</button>
						</td>
					</tr>
				
			</table>
		</form>
	</div>
	</div>
	<div class="row">
			<ul class="list" id="articlelist">
			{empty name="data"}
			<li style="overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;width:100%;color:red">
			No articles found!
			</li>
			{else/}
			{empty name="count"}
			{else/}
				{$count} articles found.
			{/empty}
			{volist name="data" id="v"}
			<li style="width:100%;">
			<a href="{:url('Enarticle/item',['id'=>$v['id']])}">{$v.bigtitle}</a>
			<p>{$v.author}</p>
			</li>
			{/volist}
			
			{/empty}
			</ul>
			{$page}
		</div>
	</div>

</body>
</html>
<script src="__HOME__/js/jquery.js"></script>
<script type="text/javascript">
	var state = '{$state}';
	$(function(){
		if(state==""){
			$('#articlelist').hide();
		}else{
			$('#articlelist').show();
			
		}
		
		
	})
</script>