{extend name="public:base" /}
{block name="main"}
<form action="{:url()}" method="post">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">主标题</td>
        <td><input type="text" class="form-control" name="bigtitle"/></td>

    </tr>
    <tr>
        <td width="10%" class="tableleft">标题</td>
        <td><input type="text" name="title"/></td>
    </tr
    <tr>
        <td class="tableleft">所属栏目</td>
        <td>
            <select name="cid" id="">
                <option value="0">顶级栏目</option>
            </select>
        </td>
    </tr>   
    <tr>
        <td class="tableleft">作者</td>
        <td>
           <input type="text" name="author"/>
        </td>
    </tr>
    <tr>
        <td class="tableleft">文章内容</td>
        <td>
           <textarea name="content" id="" cols="30" rows="10"></textarea>
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
{/block}
{block name="js"}
<script>
    $(function () {       
        $('#backid').click(function(){
                window.location.href="index.html";
         });

    });
</script>
{/block}
