{extend name="public:base"}
{block name="main"}
<form class="form-inline definewidth m20" action="" method="get">    
    文章标题：
    <input type="text" name="title" id="title" class="abc input-default" placeholder="" value="{:input('get.title')}">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
    <!-- <button type="button" class="btn btn-success" id="addnew">新增期刊文章</button> -->
</form>
<!-- 柱状图表显示，下面是js方法。
<div id="main" style="height:400px;"></div>
-->
<div class="definewidth m10">
	<strong>到目前中文期刊各篇实时累计总阅读点击次数</strong>
	（<font style="color:red;font-weight:bold;">{$pro}</font>）
</div>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th width="5%">id</th>
        <th>主标题</th>
        <th>所属栏目</th>
        <th>阅读点击量</th>
        <th>修改时间</th>
    </tr>
    </thead>
        {empty name="data"}
        <tr class="error">
            <td colspan="8">
            没有数据
            </td>
        </tr>
        {else /}
        {volist name="data" id="v"}
	     <tr>
            <td>{$v.id}</td>
            <td>{$v.bigtitle|mb_substr=0,10,'utf-8'}</td>
            <td>{$v.topcate} -- {$v.catename}</td>
            <td>{$v.click}</td>
            <td>{$v.uptime|date="Y-m-d H:i",###}</td>
            
        </tr>
        {/volist}
        {/empty}
</table>

<div class="inline pull-right page">
    <!--分页-->
    {$page}
</div>

{/block}
{block name="js"}
<script src="__ADMIN__/js/echarts.min.js"></script>
<script>
	var app = echarts.init(document.getElementById('main'));
	// 指定图表的配置项和数据
	var option = {
		color: ['#3398DB'],
		
		tooltip: {},
		legend: {
			bottom: 0,
			data:['该期中文期刊阅读总点击量']
		},
		xAxis: {
			type: 'category',
			data: {$times},
			axisPointer: {
				type: 'shadow'
			}
		},
		yAxis: {},
		series: [{
			name: '该期中文期刊阅读总点击量',
			type: 'bar',
			data: {$clicks}
		}],
	};


	// 使用刚指定的配置项和数据显示图表。
	app.setOption(option);
</script>

<script>
    $(function () {
		$('#addnew').click(function(){
				window.location.href="{:url('Article/add')}";
		});

    });
    function del(obj,id){
    layer.confirm('确认要删除吗？',{
        icon: 3,
        title: '提示信息',
        btn: ['是的','取消'], //按钮
        shade: [0.4, '#393D49']
    },function(){
        //此处请求后台程序，下方是成功后的前台处理……
        $.get("{:url('Article/delete')}", { "id": id },function(data){
            if(data.valid==1){
                layer.msg(data.msg, { icon: 1, time: 2000 ,shade: 0.5},function(index){
                    $(obj).parents("tr").remove();
                });
            }else{
                layer.msg(data.msg, {icon: 2, time: 2000,shade: 0.5 }); 
            }
             
        }, "json");
        
    });
}

	
</script>
{/block}